Django>=5.2.9
django-extensions>=3.2.3
postgres>=4.0
selenium>=4.39.0
dj-database-url>=2.2.0
python-decouple>=3.8
whitenoise>=6.7.0
fontawesomefree>=6.6.0
django-livereload-server>=0.5.1
python-dateutil>=2.9.0