* {
    font-family: Tahoma, sans-serif;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.printer-table-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.printer-table-title h1,p {
    margin: 0;
}
.icon-button {
    border: none;
    background-color: transparent;
    transition: all 0.2s;
}
.icon-button:hover {
    color:rgb(144, 144, 144);
}

.icon-button-add {
    width: 100px;
}

@keyframes trash-shake {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(15deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-15deg);}
  100% {transform: rotate(0deg);}
}

.icon-button-delete:hover {
    color:crimson;
    animation-name: trash-shake;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}