<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Printer Management</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}" />
    {% if debug %}
    {% endif %}
</head>

<body>
    <div class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">Printer Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>
    {% if messages %}
        <ul class="messages" style="display: flex; flex-direction: column; align-items: center; justify-content: center; list-style: none; padding: 0;">
            {% for message in messages %}
                <li class="{{ message.tags }}" style="text-align: center;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container body-content floating-box">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - David Munns</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="http://127.0.0.1:35729/livereload.js"></script>
    <script src="{% static 'scripts/modernizr-2.6.2.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
