name: CI Pipeline

on:
  push:
    branch:
      - 'main' 
  pull_request:
    branches:
      - 'main' 

jobs:
  analyse:
    name: Analyse Code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install flake8
        run: |
          pip install flake8

      - name: Run Linter
        run: |
          flake8
  tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
         python-version: '3.9'
         cache: pip

      - name: Install python packages
        run: pip install -r requirements.txt

      - name: Run tests
        run: python manage.py test